{% extends "core/base.html" %}

{% block tabtitle%}Change Values{% endblock %}

{% block pagetitle%}Change Values{% endblock %}

{% block content %}

<form method="POST">

{% csrf_token %}
{{ formset.management_form }}

<table>

<thead>
    <th>Date</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Category</th>
    <th>Notes</th>
</thead>


{% for form in formset %}

<tr>

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <td>{{ form.date }}</td>
    <td>{{ form.title }}</td>
    <td>{{ form.amount }}</td>
    <td>{{ form.transaction_type }}</td>
    <td>{{ form.category }}</td>
    <td>{{ form.notes }}</td>
</tr>

{% endfor %}

</table>
<button type="submit">Save</button>
</form>

{% endblock %}
