{% extends "core/base.html" %}

{% block tabtitle %}Accordian{% endblock %}

{% block pagetitle %}Projections{% endblock %}

{% block content%}

<div class = "row mb-4">
    <div class = "col-md-4">
        <div class = "card card-header bg-dark text-white">
            Filter Transaction history
        </div>
    </div>

    <div class = "col-md-4">
        <select name="breakdown_type" class="form-select">
            <option>
                By Month
            </option>

            <option>
                By Billing Cycle
            </option>
        </select>
    </div>
    
    <div class = "col-md-4">
        <form method="GET" class = "col-md-4">
            <select name="sel_year" class="form-select" style="max-width: 200px; display: inline-block;" onchange="this.form.submit()">
                {% for y in years %}

                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>

                {% endfor %}
            </select>
        </form>
    </div>
</div>


<table class="table table-bordered">
    <!-- <thead class="table-dark">
        <tr>
            <th>Projections by date</th>
        </tr>
    </thead> -->

    <tbody>
        <!-- Accordion Header Row -->

        {% for b in billingCycles %}

            <tr data-bs-toggle="collapse" data-bs-target="#cycle1-{{ b.id }}" class="accordion-toggle" onchange="this.form.submit()">
                <td>{{ b.displayName }} | Transactions {{b.num_trans}} | Cost ${{b.total_amount}}</td>
            </tr>

            <!-- Hidden Detail Rows -->
            <tr>
                <td colspan="3" class="hiddenRow">
                    <div class="collapse" id="cycle1-{{ b.id }}">
                        <table class="table mb-0">
                            
                            <thead class="table-light">
                            <tr>
                                <th>Date</th>
                                <th>Item Name</th>
                                <th>Cost</th>
                            </tr>
                            </thead>

                            {% for txn in b.transactions.all %}

                                <tbody>
                                <tr>
                                    <td>{{ txn.date }}</td>
                                    <td>{{ txn.title }}</td>
                                    <td>{{ txn.amount }}</td>
                                </tr>
                                </tbody>

                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">No transactions</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>


        {% endfor %}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}